@import "color";
@import "mediaqueries";
@import "spacing";

.black-bg {
    background-color: $black;
}

body {}

nav {
    .nav-logo {}

    .nav-items {}
}

p {
    color: $white;
}

h2, h3, h4 {
    color: $white;
}

header {
    position: absolute;
    width: 100%;
    top: 0;

    .header-cta {
        height: 30px;
        margin-bottom: 3px;
        background-color: $opacity-black-medium;

        li {
            line-height: 30px;

            .header-phone {
                max-width: 20px;
                margin-left: 25px;
                margin-right: 10px;
            }

            .header-icon {
                max-width: 20px;
                float: right;
                margin-top: 5px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .tel {
                display: none;
                @media (min-width: $small-up) {
                    display: inline;
                }
            }
        }
    }

    .header-nav {
        height: 70px;
        background-color: $opacity-black-medium;

        li {
            line-height: 70px;
            padding-left: $padding-h-sm;
            margin-right: 10px;
        }
    }
}

li {
    display: inline;
    text-decoration: none;
    list-style: none;
    color: $white;
    text-transform: uppercase;

    a {
        color: $white;
    }
}

.banner {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    // background-image: url("../images/lighthouse.jpg");
    background-image: url("../images/dividerbg.jpg");
    background-size: cover;

    h1 {
        color: white;
        font-size: 100px;
        text-transform: uppercase;
    }
}

.fill {
    height: 100%;
    width: 100%;
}

.divider {
    padding-top: $padding-v-md;
    padding-bottom: $padding-v-md;
    background-color: $black;

    .divider-icon {
        max-width: 50px;
        padding-bottom: $padding-v-xs;
    }

    p {
        text-align: center;
    }
}

.info {
    position: relative;
    background-color: $black;
    padding-top: $padding-v-xl;
    padding-bottom: $padding-v-xl;
    background-image: url("../images/lighthouse-graphic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.tour {
    background-image: url("../images/rocks.jpg");
    background-size: cover;
    padding-top: $padding-v-xl;
    padding-bottom: $padding-v-xl;

    p {
      padding-top: $padding-v-sm;
      padding-bottom: $padding-v-sm;
    }

    @media (min-width: $small-up) {
        padding-top: $padding-v-xxxl;
        padding-bottom: $padding-v-xxxl;
    }
}

.sponsors {
  background-color: $black;
  padding-top: $padding-v-md;
  padding-bottom: $padding-v-md;
  p {
    font-size: 12px;
  }
  div {
    padding-left: $padding-h-xs;
    padding-right: $padding-h-xs;
  }
}
